<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<test thread-count="5" name="Test">
<classes>
<!--
<class name="test.java.Heroku.FileUploadTest"/>
<class name="test.java.ParaBank.UserCreationTest"/>
-->
<class name="test.java.Heroku.AddProductTest"/>
<class name="test.java.Heroku.AddElementTest"/>
<class name="test.java.Heroku.AlertsTest"/>
<class name="test.java.Heroku.BrokenImageTest"/>
<class name="test.java.Heroku.DDTTest"/>
<class name="test.java.Heroku.FormAuthenticationTest"/>
<class name="test.java.Heroku.HorizontalSliderTest"/>
<class name="test.java.Heroku.InputValidationTest"/>
</classes>
</test>
</suite>